<% provide(:title, "#{@location.location_name}のexpense") %>
<div class="expenses-form">
  <div class="container">
    <div class="expense-header">
      <h1>
        <% if @location.asset_name.present? %>
          <%= "#{@location.asset_name}(#{@location.location_name})の" %>
          <br>出金記録一覧
        <% else %>
          <%= "#{@location.location_name} 出金記録一覧" %>
        <% end %>
      </h1>
      <%= link_to new_location_expense_path do %>
        <i class="fa fa-plus-circle">新規作成</i>
      <% end %>
    </div>
    <% @expenses.each do |expense| %>
      <table class="table is-fullwidth is-hoverable" >
        <tbody>
          <tr>
            <td><%= l expense.expense_day, formats: :short %></td>
            <td>
              <%= link_to location_expense_path(@location, expense) do %>
                <%= expense.expense_name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <% if expense.expense_money.present? %>
                <%= "#{expense.expense_money.to_s(:delimited)}円" %>
              <% end %>
            </td>
            <td><%= expense.expense_memo %></td>
          </tr>
          <tr>
            <td>
              <%= link_to edit_location_expense_path(@location, expense) do %>
                <i class="fas fa-pencil-alt">編集</i>
              <% end %>
            </td>
            <td>
              <%= link_to location_expense_path(@location, expense), method: :delete, data: {confirm: "この操作は取り消しできません。
                本当に削除しますか？"} do %>
              <i class="fas fa-trash-alt">削除</i>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <div class="button-container">
      <%= link_to "#{@location.asset_name}(#{@location.location_name})の入金記録一覧へ", location_incomes_path, class: "button is-light is-info" %>
      <%= link_to "#{@location.location_name}の月グラフへ", monthly_expenses_location_expenses_path, class: "button is-light is-info"  %>
    </div>
    <div class="graph-container">
      <%= pie_chart @expense_counts %>
    </div>
    <div class="expense-footer">
      <% if @location.max_expense.present? %>
        <p><%= "設定上限金額(月): #{@location.max_expense.to_s(:delimited)}円" %></p>
      <% end %>
    </div>
  </div>
</div>
