<h1>expenses#show</h1>
<p>Find me in app/views/expenses/show.html.erb</p>
<div class="expenses-form">
  <div class="container">
    <table class="table is-fullwidth is-hoverable" >
      <tbody>
        <tr>
          <td>
            <%= render 'devise/shared/location_items', location_name: @location.location_name %>
          </td>
          <td><%= @expense.expense_day %></td>
          <td>
            <%= @expense.expense_name %>
          </td>
          <td>
            <% if @expense.expense_money.present? %>
              <%= "#{@expense.expense_money.to_s(:delimited)}円" %>
            <% end %>
          </td>
          <td><%= @expense.expense_memo %></td>
          <td><%= @expense.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
          <td>
            <%= link_to edit_location_expense_path(@location, @expense) do %>
              編集
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <%= link_to "戻る", :back, class: "button is-light" %>
  </div>
</div>
